automatic/_output
obj
_ReSharper*

*.resharper
*.cache
*~
*.swp
*.swo
*.suo
*.user
*.bak
*.orig

*.nupkg
Thumbs.db
.DS_Store

update_info.xml

update_vars.ps1
Update-AUPackages*.md
Update-Force-Test*.md
Update-History.md
setup/

.vscode

*.exe
*.msi
*.vsix
*.zip
*.7z
