name: Package Unit Tests

on:
  pull_request:
    branches: [master]
  push:
    branches-ignore: [master]

jobs:
  test:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2016, windows-2019]
    env:
      au_version: master
      au_push: false
      github_user_repo: ${{ github.repository }}
      github_api_key: ${{ secrets.GIST_API_KEY }}
      gist_id: 30a8b66d4c02ecacce2da3c8734ac61f
      nupkg_cache_path: C:\nupkg_cache

    steps:
      - name: Configure git client
        run: |
          git config --global user.email "chocolatey@realdimensions.net"
          git config --global user.name "Chocolatey"
          git config --global core.safecrlf false
      - name: Install Dependencies
        run: |
          Set-Service wuauserv -StartupType Manual
          choco install wormies-au-helpers
          Install-Module Pester -RequiredVersion 4.10.1 -Scope CurrentUser -Force -SkipPublisherCheck
          git clone -q https://github.com/majkinetor/au.git $Env:TEMP/au
          . "$Env:TEMP/au/scripts/Install-AU.ps1" $Env:au_version
        shell: powershell
      - name: System information
        run: |
          Get-CimInstance win32_operatingsystem -Property Caption, OSArchitecture, Version | fl Caption, OSArchitecture, Version
          $PSVersionTable
          git --version
          choco --version
        shell: powershell
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Run package tests
        run: |
          if ($env:GITHUB_EVENT_NAME -eq "schedule") {
            .\scripts\Invoke-PesterTests.ps1 -runAllTests
          } else {
            .\scripts\Invoke-PesterTests.ps1
          }
        shell: powershell
      - name: Create diff file
        run: |
          git add automatic extension manual templates
          git diff --cached > unsaved_changes.patch
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-${{ matrix.os }}
          path: |
            unsaved_changes.patch
            **/*.nupkg
          retention-days: 5
