name: ScriptAnalyzer
on: [pull_request]
jobs:
  lint:
    name: Run PSSA
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: lint
      uses: devblackops/github-action-psscriptanalyzer@master
      with:
        settingsPath: PSScriptAnalyzerSettings.psd1
        repoToken: ${{ secrets.GITHUB_TOKEN }}
